<h2>Por pais</h2>
<hr />

<div class="row">
  <div class="col">
    <app-search-country
      placeholder="Buscar paises"
      (onEnter)="buscar($event)"
      (onDebounce)="sugerencias($event)"
    ></app-search-country>
    <hr />
  </div>
</div>

<div *ngIf="anErrorHappened" class="alert alert-danger">
  No se encontro nada con el termino {{ termino }}
</div>

<div class="row" *ngIf="countries.length > 0">
  <div class="col">
    <app-country-table [countries]="countries"></app-country-table>
  </div>
</div>
